# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# Python packaging
*.egg-info/
dist/
build/

# =========================
# Environment variables
# =========================
.env

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS-specific
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
*.pid
