services:
  db:
    image: postgres:16
    container_name: urlshortener_db
    environment:
      POSTGRES_USER: urlshortener
      POSTGRES_PASSWORD: urlshortener
      POSTGRES_DB: urlshortener
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: urlshortener_redis
    ports:
      - "6379:6379"

volumes:
  pgdata: